[submodule "auth/authenticator"]
	path = auth/authenticator
	url = git@github.com:neuronlabs/authenticator.git
[submodule "auth/accounts"]
	path = auth/accounts
	url = git@github.com:neuronlabs/accounts.git
[submodule "auth/jwt-tokener"]
	path = auth/jwt-tokener
	url = git@github.com:neuronlabs/jwt-tokener.git
[submodule "auth/authorizer"]
	path = auth/authorizer
	url = git@github.com:neuronlabs/authorizer.git
[submodule "codec/jsonapi"]
	path = codec/jsonapi
	url = git@github.com:neuronlabs/codec-jsonapi.git
[submodule "codec/json"]
	path = codec/json
	url = git@github.com:neuronlabs/codec-json.git
[submodule "repository/postgres"]
	path = repository/postgres
	url = git@github.com:neuronlabs/repository-postgres.git
[submodule "server/http/api/jsonapi"]
	path = server/http/api/jsonapi
	url = git@github.com:neuronlabs/server-jsonapi.git
[submodule "server-http-auth"]
	path = server-http-auth
	url = git@github.com:neuronlabs/server-http-auth.git
[submodule "server/http/api/auth"]
	path = server/http/api/auth
	url = git@github.com:neuronlabs/server-http-auth.git
[submodule "server/http"]
	path = server/http
	url = git@github.com:neuronlabs/server-http.git
[submodule "repository/mocks"]
	path = repository/mocks
	url = git@github.com:neuronlabs/repository-mock.git
