{{define "single-relationer" -}}
{{- $out := . -}}
// Compile time check if {{.Name}} implements mapping.SingleRelationer interface.
var _ mapping.SingleRelationer = &{{.Name}}{}

// GetRelationModel implements mapping.SingleRelationer interface.
func ({{.Receiver}} *{{.Name}}) GetRelationModel(relation *mapping.StructField) (mapping.Model, error) {
    switch relation.Index[0] {
    {{range $relation := .Relations -}}{{if not $relation.IsSlice -}}
    case {{$relation.Index}}: // {{$relation.Name}}
        {{if $relation.IsPointer -}}
        if {{$out.Receiver}}.{{$relation.Name}} == nil {
            return nil, nil
        }{{- end}}
        return {{if not $relation.IsPointer -}}&{{end}}{{$out.Receiver}}.{{$relation.Name}}, nil
    {{end -}}{{end -}}
    default:
        return nil, errors.Wrapf(mapping.ErrInvalidRelationField, "provided invalid relation: '%s' for model: '%T'", relation, {{.Receiver}})
    }
}

// SetRelationModel implements mapping.SingleRelationer interface.
func ({{.Receiver}} *{{.Name}}) SetRelationModel(relation *mapping.StructField, model mapping.Model) error {
    switch relation.Index[0] {
    {{range $relation := .Relations -}}
    {{if not $relation.IsSlice -}}
    case {{$relation.Index}}: // {{$relation.Name}}
        if model == nil {
            {{if not $relation.IsPointer -}}
            {{$out.Receiver}}.{{$relation.Name}} = {{$relation.BaseType}}{}
            {{else -}}
            {{$out.Receiver}}.{{$relation.Name}} = nil
            {{end -}}
            return nil
        } else if {{ $relationName := (toLowerCamel $relation.Name) -}}{{ $relationName }}, ok := model.(*{{$relation.BaseType}}); ok {
            {{$out.Receiver}}.{{$relation.Name}} = {{if not $relation.IsPointer -}}*{{end}}{{$relationName}}
            return nil
        }
        return errors.Wrapf(mapping.ErrInvalidRelationValue, "provided invalid model value: '%T' for relation {{$relation.Name}}", model)
    {{end -}}{{end -}}
    default:
        return errors.Wrapf(mapping.ErrInvalidRelationField, "provided invalid relation: '%s' for model: '%T'", relation, {{.Receiver}})
    }
}
{{- end}}